.banner {
  grid-area: 1 / 1 / 3 / 3;
}

.banner img {
  border-radius: 16px;
  width: 100%;
  max-width: calc(200px + 16vw);
}

@media screen and (max-width: 960px) {
  .banner {
    display: none;
  }
}
