.header {
  width: 100%;
  height: 64px;
  min-height: 64px;
  background-color: white;

  border-bottom: 1px solid #ececf0;
  position: sticky;
  top: 0;
  z-index: 4000;
}

.container {
  height: 100%;
  margin: 0 12vw;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.logo {
  letter-spacing: 2px;
  animation: shows 0.3s;

  background-color: unset;
  border: none;
}

.container_catalog {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
  flex-grow: 4;
}

.catalog {
  width: 20%;
  max-width: 20%;
  min-width: 90px;

  background-color: #02b875;
  border: none;
  padding: 12px;
  border-radius: 10px;

  color: white;
  text-align: center;
  font-size: 1rem;

  transition: 0.3s;
}

.catalog:hover {
  background-color: hsla(158, 97%, 38%, 0.9);
}

.catalog:active {
  transform: scale(0.98);
}

.search {
  width: 70%;
  min-width: 109px;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e5;
  padding: 12px 12px;
  border-radius: 10px;

  color: #52525b;
  font-size: 1rem;
  transition: 0.3s;
}

.search:focus {
  outline: 1px solid #e1e1e5;
}

.search::placeholder {
  font-size: 1rem;
}

.search_button {
  display: none;
}

.search_button.active {
  display: block;
  animation: shows 0.3s;
}

.btn {
  margin: 0 0 0 5px;
  background-color: #02b875;
  border: 1px solid #e1e1e5;
  padding: 12px 12px;
  border-radius: 10px;

  color: white;
  font-size: 1rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: hsla(158, 97%, 38%, 0.9);
}

.btn:active {
  transform: scale(0.97);
}

.container_actions {
  flex-grow: 0.5;
}

.item {
  margin-left: 24px;
}

@keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .btn {
    margin: 0;
  }
  
  .logo.nonactive {
    display: none;
  }

  .container {
    margin: 0;
  }

  .logo {
    margin: 0 2px 0 2vw;
    flex-grow: 1;
  }

  .container_catalog {
    flex-grow: 15;
  }

  .catalog {
    display: none;
  }

  .search {
    width: 100%;
    margin: 0 2vw 0 2px;
  }

  .container_actions {
    display: none;
  }
}
