.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.item {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    background-color: aqua;
}