.red {
  color: red;
}

.container {
  min-height: 100vh;
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 3vh;
}

.container h2 {
  width: 100%;
}

.content {
  margin: 24px 0 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content img {
  width: 40%;
  height: 100%;
  margin: 0 12px 0 0;
}

.description {
  width: 25%;
}

.item {
  margin: 12px 0 0;
}

.item p {
  margin: 6px 0 0;
}

.basket_container {
  width: 25%;
  align-self: flex-start;
}

.to_basket button {
  display: flex;
  align-items: center;

  background-color: inherit;
  border: none;
  color: #52525b;

  font-size: 16px;
  transition: 0.3s;
  column-gap: 12px;
}

.to_basket button:hover {
  color: black;
}

.to_basket button:active {
  transform: scale(0.95);
}

.basket_container .basket {
  margin: 24px 0 0;
  border: 1px solid #ececf0;
  border-radius: 10px;
  padding: 24px 0px;

  background: #fff;
  box-shadow: 0 0 14px #e0e0e4;
}

.basket h2 {
  width: fit-content;
  margin: 0;
  padding-left: 24px;
}

.discount h2 {
  color: red;
}

.basket .button {
  margin: 24px 0 0;
  padding: 0 24px;
}

.mobile_menu {
  display: none;
}

.red_mobile {
  fill: red;  
}

@media screen and (max-width: 960px) {
  .container {
    padding: 0 0 17vh;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content img {
    min-width: 65%;
    max-width: 70%;
  }

  .description {
    width: 100%;
  }

  .basket_container {
    width: 100%;
  }

  .to_basket {
    display: none;
  }

  .basket .button {
    display: none;
  }

  .mobile_menu {
    align-self: center;
    width: 90%;
    height: 45px;

    position: fixed;
    bottom: 55px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }

  .mobile_menu .mobile_basket {
    flex-grow: 8;
  }

  .mobile_menu .mobile_heart {
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    flex-grow: 1;
  }

  .mobile_menu .mobile_heart button {
    background-color: rgba(128, 128, 0, 0);
    border: none;
    height: 100%;
    width: 100%;
    transition: 0.3s;
  }

  .mobile_menu .mobile_heart img {
    max-width: 25px;
  }
  
  .mobile_menu .mobile_heart button:active {
    background-color: #ebebee;
  }
}
