.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: #a1a1a19f;

  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  z-index: 4444;
}

.modal.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.container {
  box-sizing: border-box;

  max-height: 90%;
  width: 550px;
  background-color: #fff;

  padding: 24px 20px;
  border-radius: 8px;
  outline: 1px solid #a9a9a9;
  box-shadow: 0 0 5px #797979;

  color: black;
  transition: 0.3s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  row-gap: 12px;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.item {
  margin-top: 12px;
  width: 100%;
}

.buttons {
  margin: auto 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.buttons button {
  margin: auto 0 -24px;
  border: none;
  height: 55px;
  color: #fff;
  font-size: 14px;
}

.close {
  flex-grow: 1;
  background-color: #d77770;
  transition: 0.3s;
}

.close:hover {
  background-color: #cf5951;
}

.addAddress {
  flex-grow: 5;
  background-color: #02b875;
  transition: 0.3s;
}

.addAddress:hover {
  background-color: #01ae6f;
}

@media screen and (max-width: 960px) {
  .modal {
    margin: 0;
    height: calc(100vh);
  }

  .container {
    max-height: 100%;
    height: calc(100%);
    width: 100%;
  }

  .items {
    flex-direction: column;
  }
}
